* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

table.noborder>*>tr>td,
table.noborder>*>tr>th {
    border: none;
}

#guesses tr.active div.bar {
    background: #60A0FF;
}

#guesses div.bar {
    height: 1em;
    background: #80C0FF;
}

#guesses tr.active {
    font-weight: bold;
}

#guesses tr {
    cursor: pointer;
}